<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.osu.AppInfoGroupMapper">
    
    <resultMap type="AppInfoGroup" id="AppInfoGroupResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="infoType"    column="info_type"    />
        <result property="infoContent"    column="info_content"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="imageUrl1"    column="image_url_1"    />
        <result property="imageUrl2"    column="image_url_2"    />
        <result property="imageUrl3"    column="image_url_3"    />
        <result property="imageUrl4"    column="image_url_4"    />
        <result property="userName"    column="user_name"    />
        <result property="userNickName"    column="user_nick_name"    />
        <result property="userAvatarUrl"    column="user_avatar_url"    />
    </resultMap>

    <sql id="selectAppInfoGroupVo">
        select id, user_id, info_type, info_content, status, create_by, create_time, update_by, update_time, remark, image_url_1, image_url_2, image_url_3, image_url_4,user_name,user_nick_name,user_avatar_url from app_info_group
    </sql>

    <select id="selectAppInfoGroupList" parameterType="AppInfoGroup" resultMap="AppInfoGroupResult">
        <include refid="selectAppInfoGroupVo"/>
        <where>  
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="infoType != null "> and info_type = #{infoType}</if>
            <if test="infoContent != null  and infoContent != ''"> and info_content = #{infoContent}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectAppInfoGroupById" parameterType="String" resultMap="AppInfoGroupResult">
        <include refid="selectAppInfoGroupVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAppInfoGroup" parameterType="AppInfoGroup">
        insert into app_info_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="infoType != null">info_type,</if>
            <if test="infoContent != null">info_content,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="infoType != null">#{infoType},</if>
            <if test="infoContent != null">#{infoContent},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateAppInfoGroup" parameterType="AppInfoGroup">
        update app_info_group
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="infoType != null">info_type = #{infoType},</if>
            <if test="infoContent != null">info_content = #{infoContent},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="imageUrl1 != null">image_url_1 = #{imageUrl1},</if>
            <if test="imageUrl2 != null">image_url_2 = #{imageUrl2},</if>
            <if test="imageUrl3 != null">image_url_3 = #{imageUrl3},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAppInfoGroupById" parameterType="String">
        delete from app_info_group where id = #{id}
    </delete>

    <delete id="deleteAppInfoGroupByIds" parameterType="String">
        delete from app_info_group where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>