<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改【请填写功能名称】')" />
    <th:block th:include="include :: summernote-css" />
    <th:block th:include="include :: bootstrap-fileinput-css" />

</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-group-edit" th:object="${appInfoGroup}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">情报站类型：</label>
                <div class="col-sm-8">
                    <select name="infoType" class="form-control m-b "  th:with="type=${@dict.getType('sys_info_type')}">
                        <option disabled th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{infoType}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">情报站内容：</label>
                <div class="col-sm-8">
                    <textarea  readonly class="form-control" style="height: 100px;" th:field="*{infoContent}"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">情报站图片：</label>
                <div class="col-sm-8">
                    <div class="file-loading">
                        <input id="fileinput" type="file" disabled  name="imageUrl" th:field="*{imageUrl1}">
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">审核备注：</label>
                <div class="col-sm-8">
                    <input name="remark" id="remark" th:field="*{remark}" class="form-control" type="text" placeholder="若审核失败，可在此处填写失败原因">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-8">
                    <button type="button" class="btn btn-sm btn-primary" onclick="updateInfoGroup(20)"><i class="fa fa-check"></i>审核通过</button>&nbsp;

                    <button type="button" class="btn btn-sm btn-danger" onclick="updateInfoGroup(30)"><i class="fa fa-reply-all"></i>审核失败</button>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: summernote-js" />
    <th:block th:include="include :: bootstrap-fileinput-js" />

    <script th:inline="javascript">
        var prefix = ctx + "system/infoGroup";
        var imageUrl1 = [[${appInfoGroup.imageUrl1}]]
        var imageUrl2 = [[${appInfoGroup.imageUrl2}]]
        var imageUrl3 = [[${appInfoGroup.imageUrl3}]]
        var imageUrl4 = [[${appInfoGroup.imageUrl4}]]
        $("#form-group-edit").validate({
            focusCleanup: true
        });
        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-group-edit').serialize());
            }
        };
        function updateInfoGroup(type){
            if ($.validate.form()) {
                var remark = $("#remark").val();
                if (type == 30 && remark == "") {
                    $.modal.alertError("请填写审核不通过的原因");
                }else {
                    var data = $("#form-group-edit").serializeArray();
                    data.push({"name": "auditType", "value": type});
                    data.push({"name": "remark", "value": remark});
                    $.operate.save(prefix + "/edit", data);
                }
            }
        };
        $(function () {
            $("#fileinput").fileinput({
                uploadUrl: ctx + "common/uploadDir", //接受请求地址
                uploadAsync: true, //默认异步上传
                showUpload: false, //是否显示上传按钮,跟随文本框的那个
                showRemove: false, //显示移除按钮,跟随文本框的那个
                showCaption: false,//是否显示标题,就是那个文本框
                showPreview: true, //是否显示预览,不写默认为true
                dropZoneEnabled: false,//是否显示拖拽区域，默认不写为true，但是会占用很大区域
                autoReplace: true, //自动替换图片
                //minImageWidth: 50, //图片的最小宽度
                //minImageHeight: 50,//图片的最小高度
                //maxImageWidth: 1000,//图片的最大宽度
                //maxImageHeight: 1000,//图片的最大高度
                //maxFileSize: 0,//单位为kb，如果为0表示不限制文件大小
                //minFileCount: 0,
                maxFileCount: 1, //表示允许同时上传的最大文件个数
                enctype: 'multipart/form-data',
                validateInitialCount: true,
                previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
                msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
                allowedFileTypes: ['image'],//配置允许文件上传的类型
                allowedPreviewTypes: ['image'],//配置所有的被预览文件类型
                allowedPreviewMimeTypes: ['jpg', 'png', 'gif'],//控制被预览的所有mime类型
                language: 'zh',
                overwriteInitial: false,
                initialPreviewAsData: true,
                initialPreview: [imageUrl1,imageUrl2,imageUrl3,imageUrl4],
            }).on('fileuploaded', function (event, data, previewId, index) {
            });

            $(".kv-file-zoom").removeAttr("disabled");
            $(".btn-file").remove();
        });
    </script>
</body>
</html>